<section class="login-section">
    <form class="login-form" [formGroup]="loginForm">
        <h3 class="login-form-title">Login form</h3>

        <div class="wrapper">
            <label for="username">Username: </label>
            <input class="input-field" formControlName="username" type="text" placeholder="Username" id="username">
            <small *ngIf="loginForm.touched && loginForm.get('username')?.hasError('required')">This field is required</small>
            <small *ngIf="loginForm.touched && loginForm.get('username')?.hasError('min')">Minimal length 3</small>
        </div>


        <div class="wrapper">
            <label for="password">Password: </label>
            <input class="input-field" formControlName="password" type="password" placeholder="Password" id="password">
            <small *ngIf="loginForm.touched && loginForm.get('password')?.hasError('required')">This field is required</small>
            <small *ngIf="loginForm.touched && loginForm.get('password')?.hasError('min')">Minimal length 3</small>
        </div>

        <button type="button" class="login-button" (click)="login()">Log in</button>
    </form>
</section>