.login-section {
    background-color: #05445E;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-form {
    background-color: darkgray;
    min-width: 350px;
    height: fit-content;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
}

.wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.login-form-title {
    text-align: center;
}

.input-field {
    height: 30px;
}

.login-button {
    margin: auto;
    width: 200px;
    text-align: center;
    padding: 10px 0px;
    display: block;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
    opacity: 1;
    background-color: #ff0080;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.login-button:hover {
    opacity: 0.7;
}